#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;

    & li {
      background-color: rgb(85, 100, 237);
      border-radius: 4px;
      display: flex;

      & a {
        padding: 2px 18px;
        color: black;

        &:hover {
          color: aliceblue;
        }
      }
    }

  }

}